.form-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-field{
    width: 60%;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-field{
    width: 80%;
}
.signin-button{
    width: 30%;
    padding: 5px;
}