* {
  box-sizing: border-box;
  margin: 0;
}
:root{
  --bkg-color: #dee2e6;
  --box-color: white;
  --main-text: #012a4a;
  --sub-text: #014f86;
}
.App{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color);
  padding: 30px 40px 60px 40px;
}